<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Electronic-uptool</title>
    <script>
        if (window.module) {
            module = window.module;
            module = undefined;
        }

        if (window.require) {
            require = window.require;
            // require = undefined;
        }
    </script>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-router.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/ybuploader.full.js"></script>
    <link href="https://cdn.bootcss.com/bulma/0.6.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <p>
            <router-link to="/submit">Submit</router-link>
            <router-link to="/crop">Crop</router-link>
        </p>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>

    <script>
        const submit_page = {
            template: `
                <div>
                <div class="box">
                    <nav class="level">
                        <div class="level-left">
                            <span id="selectfiles" class="webuploader-container">新建投稿</span>
                            &nbsp;
                            <button id="start" v-show='is_paused && is_uploading' v-on:click="ybup.start(); is_paused=false" class="button is-light"> 继续上传 </button>
                            <button id="stop" :disabled='!is_uploading' v-show='!is_paused' v-on:click="ybup.stop(); is_paused=true" class="button is-light"> 暂停上传 </button>
                        </div>
                        <div class="level-right">
                            <button class="button" v-on:click="showModal=true">封面</button>
                            &nbsp;
                            <button v-on:click="submit" class="button is-dark">提交</button>
                        </div>
                    </nav>
                </div>

                <crop-modal v-if="showModal" @set-cover="image_base64=$event" :src="image_base64" @close-modal="showModal = false"></crop-modal>

                <div class="box" style="height:500px; overflow-y:scroll;">
                    <div id="filelist" v-for="video in videos">
                        <a v-on:click="cancel(video.id, videos)">取消</a>
                        {{video.name}}
                        <span v-show="video.status=='progress'">正在上传</span>
                        <span v-show="video.status=='error'">错误</span>
                        <span v-show="video.status=='complete'">完成</span>
                        <progress class="progress" max="100" :value=video.percent></progress>
                    </div>
                    <br>

                    <form id="form">

                        <div class="field">
                            <label class="label">稿件标题</label>
                            <div class="control">
                                <input name="title" class="input" type="text" placeholder="Text input">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">标签(逗号分隔)</label>
                            <div class="control">
                                <input name="tag" class="input" type="text" placeholder="如：动作,MAD">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">视频简介</label>
                            <div class="control">
                                <textarea class="textarea" name="desc" type="text" placeholder="请输入简介"></textarea>
                            </div>
                        </div>

                        <label class="label">类型</label>
                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input name="copyright" value="1" type="radio"> 自制
                                </label>
                                <label class="radio">
                                    <input name="copyright" value="2" type="radio"> 转载
                                </label>
                            </div>
                            <select name="tid">
                                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>

                    </form>
                </div>
                </div>
            `,
            data() {
                return {
                    ybup: {},
                    videos: [],
                    categories: [
                        { id: "24", name: "动画-MAD·AMV" },
                        { id: "25", name: "动画-MMD·3D" },
                        { id: "47", name: "动画-短片·手书·配音" },
                        { id: "27", name: "动画-综合" },
                        { id: "33", name: "番剧-连载动画" },
                        { id: "32", name: "番剧-完结动画" },
                        { id: "153", name: "番剧-国产动画" },
                        { id: "51", name: "番剧-资讯" },
                        { id: "152", name: "番剧-官方延伸" },
                        { id: "153", name: "国创-国产动画" },
                        { id: "168", name: "国创-国产原创相关" },
                        { id: "169", name: "国创-布袋戏" },
                        { id: "170", name: "国创-资讯" },
                        { id: "28", name: "音乐-原创音乐" },
                        { id: "31", name: "音乐-翻唱" },
                        { id: "30", name: "音乐-VOCALOID·UTAU" },
                        { id: "59", name: "音乐-演奏" },
                        { id: "29", name: "音乐-三次元音乐" },
                        { id: "54", name: "音乐-OP/ED/OST" },
                        { id: "130", name: "音乐-音乐选集" },
                        { id: "20", name: "舞蹈-宅舞" },
                        { id: "154", name: "舞蹈-三次元舞蹈" },
                        { id: "156", name: "舞蹈-舞蹈教程" },
                        { id: "17", name: "游戏-单机联机" },
                        { id: "65", name: "游戏-网游·电竞" },
                        { id: "136", name: "游戏-音游" },
                        { id: "19", name: "游戏-Mugen" },
                        { id: "121", name: "游戏-GMV" },
                        { id: "37", name: "科技-纪录片" },
                        { id: "124", name: "科技-趣味科普人文" },
                        { id: "122", name: "科技-野生技术协会" },
                        { id: "39", name: "科技-演讲• 公开课" },
                        { id: "96", name: "科技-星海" },
                        { id: "95", name: "科技-数码" },
                        { id: "98", name: "科技-机械" },
                        { id: "71", name: "娱乐-综艺" },
                        { id: "137", name: "娱乐-明星" },
                        { id: "131", name: "娱乐-Korea相关" },
                        { id: "22", name: "鬼畜-鬼畜调教" },
                        { id: "26", name: "鬼畜-音MAD" },
                        { id: "126", name: "鬼畜-人力VOCALOID" },
                        { id: "127", name: "鬼畜-教程演示" },
                        { id: "82", name: "电影-电影相关" },
                        { id: "85", name: "电影-短片" },
                        { id: "145", name: "电影-欧美电影" },
                        { id: "146", name: "电影-日本电影" },
                        { id: "147", name: "电影-国产电影" },
                        { id: "83", name: "电影-其他国家" },
                        { id: "15", name: "电视剧-连载剧集" },
                        { id: "34", name: "电视剧-完结剧集" },
                        { id: "128", name: "电视剧-电视剧相关" },
                        { id: "86", name: "电视剧-特摄·布袋" },
                        { id: "157", name: "时尚-美妆" },
                        { id: "158", name: "时尚-服饰" },
                        { id: "164", name: "时尚-健身" },
                        { id: "159", name: "时尚-资讯" },
                        { id: "138", name: "生活-搞笑" },
                        { id: "21", name: "生活-日常" },
                        { id: "76", name: "生活-美食圈" },
                        { id: "75", name: "生活-动物圈" },
                        { id: "161", name: "生活-手工" },
                        { id: "162", name: "生活-绘画" },
                        { id: "163", name: "生活-运动" },
                        { id: "166", name: "广告-广告" }
                    ],
                    is_paused: false,
                    is_uploading: false,
                    showModal: false,
                    image_base64: ""
                }
            },
            methods: {
                get_csrf: function () {
                    const { session } = require('electron').remote;
                    session.defaultSession.cookies.get({ name: 'bili_jct' }, (error, cookies) => {
                        console.log(error, cookies);
                        csrf = cookies[0]['value'];
                        return csrf;
                    })
                },
                submit: function () {
                    videos = [];
                    for (i = 0; i < this.videos.length; i++) {
                        file = this.videos[i]
                        if (!file.uploaded) {
                            var notif = new Notification('有正在进行的上传，请等待完成或取消');
                            return false;
                        } else {
                            videos.push({
                                desc: "",
                                filename: file.bili_filename,
                                title: file.name.substring(0, file.name.lastIndexOf('.')),
                            })
                        }
                    }

                    var formData = $('form').serializeArray();
                    var req = { videos: videos };
                    formData.forEach(function (obj) {
                        if (['copyright', 'tid'].indexOf(obj.name) >= 0) {
                            req[obj.name] = parseInt(obj.value);
                        } else {
                            req[obj.name] = obj.value;
                        }
                    });

                    if (videos.length == 0) {
                        var notif = new Notification('请至少添加一个视频');
                        return false;
                    }

                    if (!req.title) {
                        var notif = new Notification('稿件标题不能为空');
                        return false;
                    }

                    if (!req.tag) {
                        var notif = new Notification('标签不能为空');
                        return false;
                    }

                    req.tag = req.tag.replace(/，/g, ",");

                    if (!req.desc) {
                        var notif = new Notification('视频简介不能为空');
                        return false;
                    }

                    if (!req.copyright) {
                        var notif = new Notification('自制/转载不能为空');
                        return false;
                    }

                    if (!req.tid) {
                        var notif = new Notification('分区必须选择');
                        return false;
                    }

                    if (videos.length > 1 && 0 <= ['145', '146', '147', '83'].indexOf(req.tid)) {
                        var notif = new Notification('这四个分区只能提交单个视频：欧美电影，日本电影，国产电影，其它国家');
                        return false;
                    }

                    if (!this.image_base64 && !confirm("没有设置封面，是否继续？")) {
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        url: 'http://member.bilibili.com/x/vu/web/add?csrf=' + this.get_csrf(),
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(req),
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);
                            if (result.code == 0) {
                                // if (confirm('成功！前往稿件管理？(需等待大概1分钟才会有)')) {
                                //     openNewTab("http://member.bilibili.com/v/#!/article");
                                // }
                                // setTimeout(function () { window.location = window.location }, 500);
                                var notif = new Notification("上传成功！");

                            } else {
                                var notif = new Notification(result.message);
                            }
                        }
                    });

                    return false;
                },
                cancel: function (fileid, videos) {
                    console.log(videos)
                    if (confirm('确认取消上传？')) {
                        var file = this.ybup.getFile(fileid);
                        this.ybup.removeFile(file);
                        $('#' + fileid).remove();
                        file.destroy();
                        file.uploaded = false;

                        index = videos.indexOf(file);
                        if (index >= 0) {
                            videos.splice(index, 1);
                        }
                    }
                }
            },
            created: function () {
                if (window.module) {
                    module = window.module;
                }

                if (window.require) {
                    require = window.require;
                }

                if (typeof module === 'object') {
                    window.module = module;
                    module = undefined;
                }
                if (typeof require === 'object') {
                    window.require = require;
                    require = undefined;
                }

                function getParam(key) {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                        function (m, key, value) {
                            vars[key] = value;
                        });
                    return vars[key];
                }
                var os = getParam('os');

                $('#os').html(os);

                window.rec_rp = window.rec_rp || function () { (rec_rp.q = rec_rp.q || []).push(arguments) };
                rec_rp("pageview");
                ybuploader.get_upcdns(upcdns => {

                    console.log(upcdns);
                    var upcdn = upcdns[0] || {};

                    //
                    // 更多参数详见
                    // WebUploader API文档 - Web Uploader
                    // http://fex.baidu.com/webuploader/doc/index.html#WebUploader_Uploader_options
                    //
                    this.ybup = new ybuploader.Ybuploader(upcdn.os, {
                        dnd: '#selectfiles',
                        auto: false,
                        pick: {
                            id: '#selectfiles',
                            multiple: true
                        },
                        accept: {
                            mimeTypes: '.txt,.mp3,.mp4,.flv,.avi,.wmv,.mov,.webm,.mpeg4,.ts,.mpg,.rm,.rmvb,.mkv',
                            title: 'default',
                        },
                        chunkRetry: 10,
                        chunkRetryDelay: 5000,
                        duplicate: false,
                        fileSingleSizeLimit: 4 * 1024 * 1024 * 1024, // '4GB'
                        // browse_button: ['selectfiles'],
                        // multi_selection: true,
                        // runtimes: 'html5',
                        // rename: true,
                        // drop_element: '#selectfiles'
                    }, 'ugcupos/yb', null, upcdn.query);

                    this.ybup.bind('UploadProgress', (up, file) => {
                        var speed = this.ybup.formatSize(up.total.bytesPerSec) + '/s - ' + os;
                        this.is_uploading=true;
                    });

                    this.ybup.bind('FileFiltered', (up, file) => {
                        file.percent = 0
                        file.status = ""
                        this.videos.push(file)
                    });

                    this.ybup.bind('FileUploaded', (up, file, info) => {
                        file.uploaded = true;
                        file.status = "complete"
                        // $('#' + file.id + '>.state').html('上传成功');
                        // if ($('#auto_submit').is(':checked')) {
                        //     $("form").submit();
                        // }
                        new Notification("上传成功", { body: file.name });
                        this.is_uploading=false;
                    });

                    this.ybup.bind('Error', function (up, err) {
                        var notif = new Notification(err.showText);
                    });

                    this.ybup.bind('BeforeUpload', function (up, file) {
                        console.log('BeforeUpload');
                        console.log('bili_filename: ' + file.bili_filename);
                        console.log($('#' + file.id));
                        console.log($('#' + file.id + '>.bili_filename'));
                        $('#' + file.id + '>.bili_filename').html(file.bili_filename);
                    });
                    this.ybup.init();
                })
            }

        };

        const crop_page = {
            template: `
                <div>
                    hohoho
                </div>
            `
        };

        const crop_modal = {
            template: `
                <div class="modal is-active">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">设置封面</p>
                            <button v-on:click="$emit('close-modal')" class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                        <!-- Content ... -->
                        <input v-on:change="load" type='file'>
                        <img :src="image_base64">
                        </section>
                        <footer class="modal-card-foot">
                            <button v-on:click="save" class="button is-success">保存</button>
                            <button v-on:click="reset" class="button">重置</button>
                        </footer>
                    </div>
                </div>
            `,
            methods: {
                load: function(ev) {
                    const files = ev.target.files

                    if (files && files[0]) {
                        const reader = new FileReader();

                        reader.onload = e => {
                            this.image_base64 = e.target.result;
                        }
                        reader.readAsDataURL(files[0]);
                    }

                },
                save: function() {
                    this.$emit('set-cover', this.image_base64)
                    this.$emit('close-modal')
                },
                reset: function() {
                    this.image_base64 = ''
                    this.$emit('set-cover', this.image_base64)
                }
            },
            props: ['src'],
            data() {
                return {
                    image_base64: this.src
                }
            }
        }

        const routes = [
            { path: '/submit', component: submit_page, },
            { path: '/crop', component: crop_page }
        ];

        const router = new VueRouter({
            routes
        });

        Vue.component('crop-modal', crop_modal);

        const app = new Vue({
            el: '#app',
            data: {
                submit_rendered: false
            },
            router
        });
    </script>
</body>

</html>