<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Electronic-uptool</title>
    <script>
        if (window.module) {
            module = window.module;
            module = undefined;
        }

        if (window.require) {
            require = window.require;
            // require = undefined;
        }
    </script>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-router.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/ybuploader.full.js"></script>
    <script src="./js/submit.js"></script>
    <link href="https://cdn.bootcss.com/bulma/0.6.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <p>
            <router-link to="/submit">Submit</router-link>
            <router-link to="/crop">Crop</router-link>
        </p>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>

    <script>
        const submit_page = {
            template: `
                <div>
                <div class="box">
                    <nav class="level">
                        <div class="level-left">
                            <span id="selectfiles" class="webuploader-container">新建投稿</span>
                            &nbsp;
                            <button id="start" class="button is-light"> 全部开始 </button>
                            &nbsp;
                            <button id="stop" class="button is-light"> 全部停止 </button>
                        </div>
                        <div class="level-right">
                            <input type="submit" form="form" class="button is-dark">
                        </div>
                    </nav>
                </div>

                <div class="box" style="height:500px; overflow-y:scroll;">
                    <div id="filelist" v-for="video in videos">
                        <a v-on:click="cancel(video.id, videos)">取消</a>
                        {{video.name}}
                        <span v-show="video.status=='progress'">正在上传</span>
                        <span v-show="video.status=='error'">错误</span>
                        <span v-show="video.status=='complete'">完成</span>
                        <progress class="progress" max="100" :value=video.percent></progress>
                    </div>
                    <br>

                    <form id="form">

                        <div class="field">
                            <label class="label">稿件标题</label>
                            <div class="control">
                                <input name="title" class="input" type="text" placeholder="Text input">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">标签(逗号分隔)</label>
                            <div class="control">
                                <input name="tag" class="input" type="text" placeholder="如：动作,MAD">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">视频简介</label>
                            <div class="control">
                                <textarea class="textarea" name="desc" type="text" placeholder="请输入简介"></textarea>
                            </div>
                        </div>

                        <label class="label">类型</label>
                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input name="copyright" value="1" type="radio"> 自制
                                </label>
                                <label class="radio">
                                    <input name="copyright" value="2" type="radio"> 转载
                                </label>
                            </div>
                            <select name="tid">
                                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>

                    </form>
                </div>
                </div>
            `,
            data() {
                return {
                    videos: [],
                    categories: [
                        { id: "24", name: "动画-MAD·AMV" },
                        { id: "25", name: "动画-MMD·3D" },
                        { id: "47", name: "动画-短片·手书·配音" },
                        { id: "27", name: "动画-综合" },
                        { id: "33", name: "番剧-连载动画" },
                        { id: "32", name: "番剧-完结动画" },
                        { id: "153", name: "番剧-国产动画" },
                        { id: "51", name: "番剧-资讯" },
                        { id: "152", name: "番剧-官方延伸" },
                        { id: "153", name: "国创-国产动画" },
                        { id: "168", name: "国创-国产原创相关" },
                        { id: "169", name: "国创-布袋戏" },
                        { id: "170", name: "国创-资讯" },
                        { id: "28", name: "音乐-原创音乐" },
                        { id: "31", name: "音乐-翻唱" },
                        { id: "30", name: "音乐-VOCALOID·UTAU" },
                        { id: "59", name: "音乐-演奏" },
                        { id: "29", name: "音乐-三次元音乐" },
                        { id: "54", name: "音乐-OP/ED/OST" },
                        { id: "130", name: "音乐-音乐选集" },
                        { id: "20", name: "舞蹈-宅舞" },
                        { id: "154", name: "舞蹈-三次元舞蹈" },
                        { id: "156", name: "舞蹈-舞蹈教程" },
                        { id: "17", name: "游戏-单机联机" },
                        { id: "65", name: "游戏-网游·电竞" },
                        { id: "136", name: "游戏-音游" },
                        { id: "19", name: "游戏-Mugen" },
                        { id: "121", name: "游戏-GMV" },
                        { id: "37", name: "科技-纪录片" },
                        { id: "124", name: "科技-趣味科普人文" },
                        { id: "122", name: "科技-野生技术协会" },
                        { id: "39", name: "科技-演讲• 公开课" },
                        { id: "96", name: "科技-星海" },
                        { id: "95", name: "科技-数码" },
                        { id: "98", name: "科技-机械" },
                        { id: "71", name: "娱乐-综艺" },
                        { id: "137", name: "娱乐-明星" },
                        { id: "131", name: "娱乐-Korea相关" },
                        { id: "22", name: "鬼畜-鬼畜调教" },
                        { id: "26", name: "鬼畜-音MAD" },
                        { id: "126", name: "鬼畜-人力VOCALOID" },
                        { id: "127", name: "鬼畜-教程演示" },
                        { id: "82", name: "电影-电影相关" },
                        { id: "85", name: "电影-短片" },
                        { id: "145", name: "电影-欧美电影" },
                        { id: "146", name: "电影-日本电影" },
                        { id: "147", name: "电影-国产电影" },
                        { id: "83", name: "电影-其他国家" },
                        { id: "15", name: "电视剧-连载剧集" },
                        { id: "34", name: "电视剧-完结剧集" },
                        { id: "128", name: "电视剧-电视剧相关" },
                        { id: "86", name: "电视剧-特摄·布袋" },
                        { id: "157", name: "时尚-美妆" },
                        { id: "158", name: "时尚-服饰" },
                        { id: "164", name: "时尚-健身" },
                        { id: "159", name: "时尚-资讯" },
                        { id: "138", name: "生活-搞笑" },
                        { id: "21", name: "生活-日常" },
                        { id: "76", name: "生活-美食圈" },
                        { id: "75", name: "生活-动物圈" },
                        { id: "161", name: "生活-手工" },
                        { id: "162", name: "生活-绘画" },
                        { id: "163", name: "生活-运动" },
                        { id: "166", name: "广告-广告" }
                    ],
                    cancel
                }
            },
            created: function () {
                renderSubmit(this);
            }

        };

        const crop_page = {
            template: `
          <div>
            hohoho
          </div>
        `
        };
        const routes = [
            { path: '/submit', component: submit_page, },
            { path: '/crop', component: crop_page }
        ];

        const router = new VueRouter({
            routes
        });

        const app = new Vue({
            el: '#app',
            data: {
                submit_rendered: false
            },
            router
        });
    </script>
</body>

</html>